<!-- partials/banner.ejs -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-image-overlay">
          <img src="/images/banner_04.jpg" class="d-block w-100" alt="Banner 1">
          <div class="carousel-caption d-none d-md-block">
            <h5>โรงเรียนบ้านนาทรายน้ำรอด</h5>
            <p>โรงเรียนชั้นนำด้านนวัตกรรมการศึกษา</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-image-overlay">
          <img src="/images/banner_05.jpg" class="d-block w-100" alt="Banner 2">
          <div class="carousel-caption d-none d-md-block">
            <h5>มุ่งเน้นให้นักเรียนมีความคิดสร้างสรรค์</h5>
            <p>สังคมแห่งการเรียนรู้</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-image-overlay">
          <img src="/images/banner_06.jpg" class="d-block w-100" alt="Banner 3">
          <div class="carousel-caption d-none d-md-block">
            <h5>การศึกษาที่เปิดโอกาส</h5>
            <p>สร้างนวัตกรแห่งอนาคต</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  