<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light shadow-sm fixed-top" >
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class="d-flex flex-row">
          <img class="rounded-circle me-3" height="70px" src="/images/logo.jpg" alt="logo">
          <div class="d-flex flex-column justify-content-center text-muted">
            <span><small>BanNasai-Namrod School</small></span>
            <hr class="m-0 p-0">
            <span>
              <small>โรงเรียนบ้านนาทรายน้ำรอด</small>
            </span>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-2">
              <a class="nav-link normal" href="/">หน้าแรก</a>
            </li>
            <div class="border"></div>
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                เกี่ยวกับโรงเรียน
              </a>
              <ul class="dropdown-menu rounded-0 px-2 py-3">
                <li><a class="nav-link normal dropdown-item pe-3" href="/history">ประวัติโรงเรียน</a></li>
                <li><a class="nav-link normal dropdown-item pe-3" href="#">ข้อมูลโรงเรียน</a></li>
                <li><a class="nav-link normal dropdown-item pe-3" href="/staff">ข้อมูลบุคลากร</a></li>
                <!-- <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>
            <div class="border"></div>
            <li class="nav-item mx-2">
              <a class="nav-link normal" href="/services">ฝ่ายบริการ</a>
            </li>
            <div class="border"></div>
            <li class="nav-item mx-2">
              <a class="nav-link normal" href="/contact">ติดต่อสอบถาม</a>
            </li>
            <div class="border"></div>
            <li class="nav-item mx-2">
              <a class="nav-link normal" href="#">เพิ่มเติม</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  