<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class="d-flex flex-row">
          <img class="rounded-circle me-3" height="70px" src="/images/logo.jpg" alt="logo">
          <div class="d-flex flex-column justify-content-center text-muted">
            <span>BanNasai-Namrod School</span>
            <hr class="m-0 p-0">
            <span>
              โรงเรียนบ้านนาทรายน้ำรอด
            </span>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-2">
              <a class="nav-link" href="/">หน้าแรก</a>
            </li>
            <div class="border"></div>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/about">ประวัติโรงเรียน</a>
            </li>
            <div class="border"></div>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/info">ข้อมูลโรงเรียน</a>
            </li>
            <div class="border"></div>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/services">ฝ่ายบริการ</a>
            </li>
            <div class="border"></div>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/staff">ข้อมูลบุคลากร</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  