<!DOCTYPE html>
<html lang="th" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โรงเรียนบ้านนาทรายน้ำรอด</title>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="โรงเรียนบ้านนาทรายน้ำรอด">
    <meta property="og:url" content="https://msdigroup.com/moralschool/nasainamrodudon/">
    <meta property="og:site_name" content="สถาบันพัฒนาโรงเรียนคุณธรรม">
    <meta property="article:modified_time" content="2024-04-25T09:54:38+00:00">
    <meta property="og:image" content="https://msdigroup.com/wp-content/uploads/2024/04/305571724_532267485367373_5934182351383721657_n.png">
    <meta property="og:image:width" content="180">
    <meta property="og:image:height" content="180">
    <meta property="og:image:type" content="image/png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="8 minutes">
    <link rel="icon" type="image/x-icon" href="/images/favicon2.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">`
</head>
<body>
    <!-- ใส่ Navbar -->
    <%- include('partials/navbar') %>
    
    <!-- เนื้อหาหลักของแต่ละหน้า -->
    <div class="content">
        <%- body %>
    </div>

    <!-- ใส่ Footer -->
    <%- include('partials/footer') %>
    
    <!-- ใส่ JavaScript -->
     <script>
        document.addEventListener("DOMContentLoaded", function() {
            const navbar = document.querySelector('.navbar');
            const mainContent = document.querySelector('body');
            
            const adjustPadding = () => {
                const navbarHeight = navbar.offsetHeight;
                mainContent.style.paddingTop = `${navbarHeight}px`;
            };

            adjustPadding();
            window.addEventListener('resize', adjustPadding);
        });

     </script>
    <script src="/js/navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
