<!DOCTYPE html>
<html lang="th" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โรงเรียนบ้านนาทรายน้ำรอด</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- ใส่ Navbar -->
    <%- include('partials/navbar') %>
    
    <!-- เนื้อหาหลักของแต่ละหน้า -->
    <main>
        <%- body %>
    </main>

    <!-- ใส่ Footer -->
    <%- include('partials/footer') %>
    
    <!-- ใส่ JavaScript -->
    <script src="/js/navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
